cssres/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Base Styles */

* {
    font-family: "Good Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

body {
    margin: 60px;
}


/* Header */

.header {
    display: flex;
    flex-direction: row;
}

.header * {
    padding: 20px;
}

.header button {
    width: 160px; 
    height: 40px;
}

.book-valuation-button {
    background-color: rgb(123, 214, 123);
    color: black
}


/* Hero */

.hero {
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-template-rows: 10%, 10%, 10%, 10%, 10%, 10%, 10%, 10%, 10%, 10%,;
}

.headline {
    float: left;
    top: 100px;
    left: 30px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    }


.tagline {
    letter-spacing: 1px;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.postcode {
    grid-column: 1 / 2;
    grid-row: 7 / 9;
}

.main-image {
    grid-column: 2 / 3;
    grid-row: 2 / 10;
}

.green-underline {
    text-decoration: underline; 
    text-decoration-color: rgb(123, 214, 123);
    
}



/* Endorsments */
.endorsements-container {
    height: 80px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 400px;
}


/* Reviews */



/* About-us */


/* Guides */


/* Footer */

.footer {
    padding: 65px;
    background-color: rgba(0, 0, 0, 0.892);
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 40%, 30%, 30%;
    grid-template-rows: 25%, 50%, 25%;
}

.footer-headline {
    grid-row: 1 / 2;
    text-align: start;
}

.menu-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    line-height: 2em;
}

.menu-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    line-height: 2em;
}

.menu-3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    line-height: 2em;
}

h3 {
    font-size: 60px;
    color: whitesmoke;
}

.footer p, .footer a {
    color: whitesmoke;
    text-decoration: none;
}

.highlighted-text {
    background-color: green;
}